<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="css/mystyle.css" rel="stylesheet">
  <link th:href="css/mystyle.css" rel="stylesheet">
  <title>Quotations: Login</title>
</head>
<body class="text-center">
	<h1> TIW Quotation Prices</h1>
	<h3> Please Log In </h3>
	<div class="row align-item-center justify-content-center">
		<div class="col col-sm-4">
			<form action="Login" method ="POST" class="form-signin">
			
				<div th:if="${notvalid == 'true'}" class="alert-danger mt-3">
					<p> "Username or password incorrect" </p>
				</div>
			    	<label class="col-form-label">Username: </label>
		        	<input type="text" name="username" class="form-control text-center" required>
			    	<label class="col-form-label">Password: </label>
		      		<input type="password" name="password" class="form-control text-center" required> <br>
					<label class="col-form-label"> Use the (lighter) pure html version:  </label> 
					<input type="checkbox" name="html" th:value="true"> <br>
					<small class="text-muted"> If your connection is slow check this option </small>
				<input type="submit" class="btn btn-block btn-info my-5" value="Log In">
				
				<h5 class="mt-5"> You want to <a href="WEB-INF/SignUp.html" th:href="@{/SignUp}" class="btn btn-sm btn-outline-info">Sign Up</a> instead? </h5>
				
			</form>
		</div>
	</div>

</body>
</html>