<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="../css/mystyle.css" th:href="@{/css/mystyle.css}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/HomeCustomer.js" th:src="@{/js/HomeCustomer.js(t=${time})}"></script>
  <title>Quotations: Customer</title>
</head>
<body>
	<!-- ******************************** NAVBAR ****************************************** -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  		<span class="navbar-brand"><b>Price Quotation</b></span>

	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      	<li class="nav-item active">
		        	<a class="nav-link" href="/HomeCustomer" th:href="@{/HomeCustomer}">Home <span class="sr-only">(current)</span></a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/LogOut" th:href="@{/LogOut}">LogOut</a>
		      	</li>
		    </ul>
	  </div>
	</nav>
	<!-- ******************************** /NAVBAR ****************************************** -->


	<div class="container-fluid mt-4">

		<h1> Home Customer </h1> <br>

		<div class="row">
			<div class="col-6">
				<h3 class="text-center"> Here there are the price quotations you already asked for: </h3>
				<div class="col-sm jnk-col">

					<table id="tableQuotations" class="table table-bordered table-hover mt-5">
					</table>
				</div>
			</div>

			<div class="col-6">
				<h3> Ask for a new price quotation: </h3>
				
				<form id="form" class="form-group m-3">
				
				    <h5>Product: </h5>
				    
				    <select id="productChoice" onchange="changeOptions()" name="product" class="form-control">
						<option th:each="p : ${products}" th:value="${p.id}" th:text="${p.productCode + ' | ' + p.name}"> No product available </option>
					</select>
					
					<br> <br>
					
					<img id="productImage" th:src="@{/GetImage(image=${products[0].id})}" class="rounded img-thumbnail mx-2" alt="product+image">
					
					<div id="checkBoxContainer" th:each="o : ${options}">
						<input type="checkbox" th:name="${o.optionCode}" th:value="${o.id}"> 
						<span th:text="${o.name}"> No options to show: </span><br>
					</div>
					<input type="submit" id="buttonForm" class="btn btn-info mt-3" value="Ask">
				</form>
				
				<h4 id="pending"></h4>
			</div>
			
		</div>
	</div>

</body>
</html>
