<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="../css/mystyle.css" th:href="@{/css/mystyle.css(t=${time})}" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="../js/HomeEmployee.js" th:src="@{/js/HomeEmployee.js(t=${time})}"></script>
  <title>Home Employee</title>
</head>
<body>
	<!-- ******************************** NAVBAR ****************************************** -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  		<a class="navbar-brand" href="#">Price Quotation</a>
	
	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      	<li class="nav-item active">
		        	<a class="nav-link" href="/HomeEmployee" th:href="@{/HomeEmployee}">Home <span class="sr-only">(current)</span></a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/LogOut" th:href="@{/LogOut}">LogOut</a>
		      	</li>
		    </ul>
	  </div>
	</nav>
	<!-- ******************************** /NAVBAR ****************************************** -->
	
	<div class="container-fluid mt-4">
	
		<h1> Home Employee </h1> <br>
		<div class="row">
			<div class="col-6">
				<div class="col-sm">
				<h3 class="text-center"> Here there are the quotations you already priced: </h3>
				
					<table id="tableQuotations" class="table table-bordered table-hover mt-5">
					</table>
				</div>
			</div>
			
			<div class="col-6">
				<div class="col-sm">
				<h3 class="text-center"> Here there are the quotations that needs to be priced: </h3>
				
					<table id="tableToPrice" class="table table-bordered table-hover mt-5">
						<thead>
							<tr class="text-center">
								<th>Product</th>
								<th>Code</th>
								<th>Options</th>
								<th>Customer</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="q : ${pricelessQuotations}" class="text-center">
								<td th:text="${q.product.name}" class="align-middle"> NoProducts </td>
								<td th:text="${q.product.productCode}" class="align-middle"> -1 </td>
								<td class="align-middle">
								  <span th:each="o : ${q.product.options}"> 
									<span th:text="${o.name} + ', '">NoOptions</span>  
								  </span>
								</td>
								<td th:text="${q.customer}" class="align-middle"> None </td>
								<td class="align-middle">
								  	<button th:id="${q.id}" class="btn btn-outline-info"> Price </button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
	<div class="modal" id="modal" tabindex="-1">
      	<div class="modal-content">
      		<div class="modal-header">
	        	<h5 class="modal-title" id="modalTitle"> Price the quotation </h5>
	       		<button class="close"> &times;</button>
	       	</div>
	       	<div class="modal-body">
		      	<div class="row">
		      		<div class="col-6">
		      			<img src="" class="rounded img-thumbnail mx-2" alt="product+image">
					</div>
					<div class="col-6">
						<h2> Price this quotation </h2> <br>
						<ul class="list-unstyled">
							<li>Requested by <b><span id="quotCustomer"> None </span></b>
							<li>Product: <b><span id="quotProduct"> None Again </span></b>
							<li>With the following options: <br>
								<span id="prodOptions"> NoOptions </span><br>
						</ul>
						<form id="form" class="form-group">
							Price: <input type="number" step="0.01" name="price" id="quotPrice" required> <br>
							<input id="buttonForm" class="btn btn-info mt-2" type="submit" value="Price">
						</form>
					</div>
				</div>
			</div>
      	</div>
	</div>
</body>
</html>