<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <link href="../css/mystyle.css" rel="stylesheet">
  <link href="css/mystyle.css" rel="stylesheet">
  <title>Price the quotation</title>
</head>
<body>

	<!-- ******************************** NAVBAR ****************************************** -->
	<nav class="navbar navbar-expand-lg navbar-dark bg-info">
  		<a class="navbar-brand" href="#">Price Quotation</a>
	
	  	<div class="collapse navbar-collapse" id="navbarSupportedContent">
		    <ul class="navbar-nav mr-auto">
		      	<li class="nav-item active">
		        	<a class="nav-link" href="/HomeEmployee" th:href="@{/HomeEmployee}">Home <span class="sr-only">(current)</span></a>
		      	</li>
		      	<li class="nav-item">
		        	<a class="nav-link" href="/LogOut" th:href="@{/LogOut}">LogOut</a>
		      	</li>
		    </ul>
	  </div>
	</nav>
	<!-- ******************************** /NAVBAR ****************************************** -->
	
	<div class="container-fluid mt-4">
		
		<div class="row">
			<div class="col-3 text-center">
				<img src="images/default.jpg" th:src="@{/GetImage(image=${quotation.product.id})}" class="rounded img-thumbnail mx-2" alt="product+image">
			</div>
			<div class="col">
				<h2> Price this quotation </h2> <br>
				<ul class="list-unstyled">
					<li>Requested by <b><span th:text="${quotation.customer}"> None </span></b>
					<li>Product: <b><span th:text="${quotation.product.name}"> None Again </span></b>
					<li>With the following options: <br>
						<span th:each="o : ${quotation.product.options}" th:text="${o.name} + ' '"> NoOptions </span><br>
				</ul>
				<form action="PriceQuote.html" th:action="PriceQuote" method="POST" class="form-group">
					Price: <input type="number" step="0.01" name="price" class="" required> <br>
					<input class="mt-3" type="submit" value="Price">
				</form>
				<div th:if="${notvalid == 'true'}" class="alert-warning mt-3">
					<p> "Invalid price, please insert a value > 0.00" </p>
				</div>
			</div>
		</div>
		
	</div>
</body>
</html>